.container {
  padding: 15px;
}

.pages{
  .date{
    color:black;
  }
  .banner{
    position:relative;
    top: -59px;
    .form{
      position:relative;
      bottom:0px;
    }
  }

  .lobster{
    color: white !important;
  }

  .links{
    border: 2px white solid;
    margin-left: 4px;
    a{
    color:white !important;
    }
  }

  .navbar{
    z-index: 1;
    background-color: transparent;
    .dropdown {
      border: 2px white solid;
      a{
        color: black;
      }
      .dropdown-toggle{
        color:white;
      }
    }
  }
}

.search{
  color: black;
}

.banner-content .btn{
  color:white;
  border: 2px white solid;
  background-color:transparent;
  height:40px;
  width:70px;
  padding:0px;
}

.banner {
  background-image: linear-gradient(-225deg, rgba(50,0,200,0.5) 0%, rgba(36,0,30,0.5) 50%), image-url('travelnanny_banner.jpg');
}

.card {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(-225deg, rgba(50,0,200,0.5) 0%, rgba(36,0,30,0.5) 50%)
  }
}

#london-card { background-image: image-url('card-london'); }
#brussels-card { background-image: image-url('card-brussels'); }
#paris-card { background-image: image-url('card-paris'); }


/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
