.btn {
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.container {
  padding: 15px;
}

.pages{

  .date{
    color:black;
  }

  .banner{
    position:relative;
    top: -59px;
    .form{
      position:relative;
      bottom:0px;
    }
  }

  .lobster{
    color: white !important;
  }

  .links{
    border: 2px white solid;
    margin-left: 4px;
    a{
    color:white !important;
    }
  }

  .navbar{
    z-index: 1;
    background-color: transparent;
    .dropdown {
      border: 2px white solid;
      a{
        color: black;
      }
      .dropdown-toggle{
        color:white;
      }
    }
  }
}

.search{
  color: black;
}

.btn{
  color:white;
  border: 2px white solid;
  background-color:transparent;
  height:40px;
  width:70px;
  padding:0px;
}



/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
