html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}

.container {
  padding: 15px;
}

.card {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(-225deg, rgba(50,0,200,0.5) 0%, rgba(36,0,30,0.5) 50%)
  }
}

.card:hover {
  opacity: 0.75;
}

#london-card { background-image: image-url('card-london'); }
#brussels-card { background-image: image-url('card-brussels'); }
#paris-card { background-image: image-url('card-paris'); }


/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
