<!-- Homepage Banenr -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(50,0,200,0.5) 0%, rgba(36,0,30,0.5) 50%), url('assets/travelnanny_banner.jpg');">



  <div class="banner-content">
  <div>
  <h1>Welcome to TravelNanny</h1>
  <p>Rent a nanny for the cheap! Have fun, while your children are in GREAAAT care.</p>
  <div class="search" >
    <div>
      <form>
         <input type="text" name="search" placeholder="Location">
      </form>
    </div>

  </div>
  </div>
  </div>
  </div>

<!-- Travel Nanny Description -->

<div class="container">
  <div class="col-md-6">
    <div class="text-box">
      <h3>Why become a TravelNanny?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam animi architecto deleniti ratione eaque eius sapiente vitae velit sequi culpa dolor error maiores quis minima nostrum accusamus, odit voluptates non.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="text-box">
      <h3>Why hire a TravelNanny?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit esse beatae, sit cum? Dolorem velit ullam quas totam doloremque reprehenderit fugiat! Necessitatibus molestiae officia maxime, sequi molestias ea, odit hic!</p>
    </div>
  </div>
</div>

<!-- The Top 3 Cities -->

<div class="wrapper-grey padded">
  <div class="container">
  <h3 class="text-center">Where is your next destination?</h3>
    <div class="row">

      <div class="col-xs-12 col-sm-4">
        <%= link_to offers_path(:location=>"Paris") do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('assets/card-paris.jpg');">
            <div class="card-description">
              <h3>Paris</h3>
              <p>Find a Nanny in Paris</p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= link_to offers_path(:location=>"Brussel") do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('assets/card-brussels.jpeg');">
            <div class="card-description">
              <h3>Brussel</h3>
              <p>Find a Nanny in Brussels</p>
            </div>
        </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= link_to offers_path(:location=>"London") do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('assets/card-london.jpeg');">
            <div class="card-description">
              <h3>London</h3>
              <p>Find a Nanny in London</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="text-center">
   <%= link_to 'View all', offers_path, {class: "btn btn-warning btn-lg"} %>
   </div>
  </div>
</div>



