/* Main class */

.inline {
  float:left;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  li{
    color:black;
  }
}

.pages {
  .navbar {
    z-index: 1;
    background-color: transparent;
    .dropdown {
      border: 2px white solid;
      a {
        color: black;
      }
      .dropdown-toggle{
        color:white;
        background-color: transparent;

      }
    }
  }

  .lobster {
    color: white;
    background-color: transparent;
  }

  .links {
    border: 2px white solid;
    margin-left: 4px;
    background-color: transparent;

    a {
    color: white !important;
    background-color: transparent;
    }
  }
}


