<h1 class="text-center"><strong>Where is your next destination?</strong></h1>

<div class="container text">

  <table>
    <thead>
      <tr>
        <th><h3>Countries(A-Z)</h3></th>
        <th colspan="3"></th>
      </tr>
    </thead>



  <!-- put each city in the right category -->

    <tbody>
      <div class="container">
        <% @countries.each do |c| %>
          <tr>
            <td class="lobster"><%= link_to c, offers_path(:country=> c ) %></td>
          </tr>
        <% end %>

    </tbody>
  </table>
</div>
